body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

ul {
    list-style-type: none;
}

#cen {
    padding-top: 53px;
}

#left {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: darkgrey;
}

#left-logo {
    padding-top: 10%;
    padding-left: 10%;
}

#left-logo img {
    width: 60%;
}

#left-word {
    width: 80%;
}

#left-word p {
    text-indent: 2em;
}

#left-line ul {
    padding-inline-start: 10px;
}

.left-name {
    padding-left: 10%;
    padding-bottom: 2%;
}

#right {
    background-color: rgb(57, 223, 187);
    width: 80%;
    float: right;
}

#year {
    padding-left: 20px;
    font-size: 16px;
}

#year ul {
    padding-inline-start: 40px;
}