#left {
    background-color: #39dd5c;
    width: 30%;
    height: 100%;
    content: none;
    float: left;
}

#left-logo {
    padding-left: 6%;
    padding-top: 6%;
}

#left-logo img {
    width: 60%;
}

#left-word {
    width: 80%;
}

#left-word p {}

#right {
    background-color: rgb(57, 223, 187);
    width: 70%;
    height: 100%;
    float: left;
}